/node_modules
/public/hot
/public/downloads
/public/exports
/public/labs
/public/pdf
/public/qrcode
/public/receipt
/public/uploads
/public/storage
/storage/*.key
/vendor
.env
.env.backup
*.bak
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea
/.vscode
!.gitignore
*.log
.htaccess
/database
