@font-face {
	font-family: "Fira-code";
	src: url('../fonts/FiraCode-Regular.woff2') format("woff2"),
		url('../fonts/FiraCode-Regular.ttf') format("truetype");
	font-weight: 400;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "sukhumvit";
	src: url('../fonts/SukhumvitReg.woff2') format("woff2"),
	url('../fonts/SukhumvitReg.woff') format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'sarabunregular';
	src: url('../fonts/sarabun-regular-webfont.eot');
	src: url('../fonts/sarabun-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sarabun-regular-webfont.woff2') format('woff2'),
		 url('../fonts/sarabun-regular-webfont.woff') format('woff'),
		 url('../fonts/sarabun-regular-webfont.ttf') format('truetype'),
		 url('../fonts/sarabun-regular-webfont.svg#sarabunregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'sarabunbold';
	src: url('../fonts/sarabun-bold-webfont.eot');
	src: url('../fonts/sarabun-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sarabun-bold-webfont.woff2') format('woff2'),
		 url('../fonts/sarabun-bold-webfont.woff') format('woff'),
		 url('../fonts/sarabun-bold-webfont.ttf') format('truetype'),
		 url('../fonts/sarabun-bold-webfont.svg#sarabunbold') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'sarabunmedium';
	src: url('../fonts/sarabun-medium-webfont.eot');
	src: url('../fonts/sarabun-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sarabun-medium-webfont.woff2') format('woff2'),
		 url('../fonts/sarabun-medium-webfont.woff') format('woff'),
		 url('../fonts/sarabun-medium-webfont.ttf') format('truetype'),
		 url('../fonts/sarabun-medium-webfont.svg#sarabunmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'sarabunlight';
	src: url('../fonts/sarabun-light-webfont.woff2') format('woff2'),
		 url('../fonts/sarabun-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'sarabunextralight';
	src: url('../fonts/sarabun-extralight-webfont.eot');
	src: url('../fonts/sarabun-extralight-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sarabun-extralight-webfont.woff2') format('woff2'),
		 url('../fonts/sarabun-extralight-webfont.woff') format('woff'),
		 url('../fonts/sarabun-extralight-webfont.ttf') format('truetype'),
		 url('../fonts/sarabun-extralight-webfont.svg#sarabunextralight') format('svg');
	font-weight: normal;
	font-style: normal;

}
html, body {
	font-family: 'sarabunextralight', sans-serif;
	font-size: 1rem;
}

