.multi_step_form {
	background: none;
	display: block;
	height: 1500px;
	padding: 30px 0;
	font-family: "cs_chatthaiuiregular";
}
.multi_step_form #msform {
	position: relative;
	padding: 40px 0 10px 0;
	height: 1500px;
	margin: 0 auto;
	background: #fff;
	z-index: 1;
}
.multi_step_form #msform fieldset {
	border: 0;
	padding: 20px 40px;
	position: relative;
	width: 100%;
	left: 0;
	right: 0;
}
.multi_step_form #msform fieldset:not(:first-of-type) {
	display: none;
}
.multi_step_form #msform fieldset:nth-of-type(2) {
	display: none;
}
.multi_step_form #msform fieldset:nth-of-type(3) {
	display: none;
}
.multi_step_form #msform fieldset:nth-of-type(4) {
	display: none;
}
.multi_step_form #msform fieldset h3 {
	width: 100%;
	text-align: center;
	font-weight: 400;
	font-size: 1.475em;
	color: #01937C;
	padding-bottom: 20px;
}
.multi_step_form #msform fieldset h4 {
	font-size: 1.275em;
	font-weight: 400;
	color: #5f6771;
	padding: 0 0 5px 10px;
}
.multi_step_form #msform fieldset .form-label {
	font-size: 1.275em;
	padding-bottom: 5px;
}
.multi_step_form #msform #progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	text-align: center;
	z-index: 2;
}
.multi_step_form #msform fieldset select {
	font-size: 1.875em;
}
.multi_step_form #msform #progressbar li {
	list-style-type: none;
	color: #99a2a8;
	font-size: 12px;
	width: calc(100%/4);
	float: left;
	position: relative;
	font: 500 16px/1 "cs_chatthaiuiregular";
}
.multi_step_form #msform #progressbar li:nth-child(2):before {
	content: "\f2d9";
}
.multi_step_form #msform #progressbar li:nth-child(3):before {
	content: "\f2eb";
}
.multi_step_form #msform #progressbar li:nth-child(4):before {
	content: "\f39f";
}
.multi_step_form #msform #progressbar li:before {
	content: "\f376";
	font: normal normal normal 30px/50px Ionicons;
	width: 50px;
	height: 50px;
	line-height: 50px;
	display: block;
	background: #eaf0f4;
	border-radius: 50%;
	margin: 0 auto 10px auto;
}
.multi_step_form #msform #progressbar li:after {
	content: '';
	width: 100%;
	height: 10px;
	background: #eaf0f4;
	position: absolute;
	left: -50%;
	top: 21px;
	z-index: -1;
}
.multi_step_form #msform #progressbar li:last-child:after {
	width: 150%;
}
.multi_step_form #msform #progressbar li.active {
	color: #01937C;
}
.multi_step_form #msform #progressbar li.active:before, .multi_step_form #msform #progressbar li.active:after {
	background: #01937C;
	color:#ffffff;
}
/* .multi_step_form #msform .action-button {
	background: #01937C;
	color: white;
	border: 0 none;
	border-radius: 50px;
	cursor: pointer;
	min-width: 60px;
	font: 600 14px/40px "cs_chatthaiuiregular";
	border: 1px solid #01937C;
	margin: 10px 5px 10px 5px;
	text-transform: uppercase;
	display: inline-block;
}
.multi_step_form #msform .action-button:hover, .multi_step_form #msform .action-button:focus {
	background: #405867;
	border-color: #405867;
}
.multi_step_form #msform .previous_button {
	background: transparent;
	color: #99a2a8;
	border-color: #99a2a8;
}
.multi_step_form #msform .previous_button:hover, .multi_step_form #msform .previous_button:focus {
	background: #405867;
	border-color: #405867;
	color: #fff;
} */
#example-modal-backdrop-transparent {
	z-index: 999999 !important;
}
/* iPhone 2G-4S (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}
/* iPhone 5 (portrait) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
	.previous, .next {width: 49%;}
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	.previous {width: 100px;
		margin-left: 36%
	}
	.next {
		width: 100px;
	}
}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
	.previous {
		width: 100px;
		margin-left: 41%
	}
	.next {
		width: 100px;
	}
}
.field-icon {
	float: right;
	margin-left: -25px;
	margin-top: -30px;
    padding-right: 6px;
    font-size: 1.275em;
	position: relative;
	z-index: 2;
}

